<div class="navbar navbar-default navbar-fixed-top" role="navigation" data-my-navscroll data-ng-class="{min:boolChangeClass}">
    <div class="content-inner">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li class="navbar-brand" ng-class="{santos: boolChangeClass, prueba1: boolChangeClass}"><a href="#/home"><img src="assets/images/logo-santos.png" alt=""></a></li>
                    <li class="navbar-brand second-brand"><a class="brand-border-left" ng-class="{corona: boolChangeClass, prueba: boolChangeClass}" href="#/home"><img src="assets/images/logo-corona.png" alt="" ng-class="{coronaImg: boolChangeClass}"></a></li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="row collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-header navbar-right" ng-class="{minNav:boolChangeClass}">
                    <li><a href="#/home">Inicio</a></li>
                    <li><a href="#">Beneficio del Club</a></li>
                    <li><a href="#">El Club Social</a></li>
                    <li class="social-buttons hidden-xs hidden-sm"><a href="#"><img src="assets/images/face-s.svg" alt="" /></a></li>
                    <li class="social-buttons hidden-xs hidden-sm"><a href="#"><img src="assets/images/google-s.svg" alt="" /></a></li>
                    <li class="social-buttons hidden-xs hidden-sm"><a href="#"><img src="assets/images/insta-s.svg" alt="" /></a></li>
                    <li class="social-buttons hidden-xs hidden-sm"><a href="#"><img src="assets/images/twitter-s.svg" alt="" /></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div>
</div>
<div class="row promo-image">
    <div class="overlay-promo">
        <div class="container">
            <h3 class="promo-home-title">Registrate, Juega y Gana<br />premios en el</h3>
            <h1 class="promo-home-title">Club Santos Corona</h1>
            <div class="row action-buttons">
                <div class="btn-group justified sign-buttons" role="group" aria-label="...">
                    <a type="button" href="#/register" id="show-register" class="btn btn-success">Registro</a>
                    <span class="btn diagonal-success"></span>
                    <a type="button" href="#/login" id="show-login" class="btn btn-warning">Ingreso</a>
                </div>
                <div class="login-form">
                    <form class="row login-form col-md-12" role="form" name="userForm" novalidate >
                        <div class="form-group col-md-6" data-ng-class="{ 'has-error' : (userForm.username.$invalid || login.server.username) && login.submitted}">
                            <label for="email">Alias/Correo Electronico </label>
                            <input type="text" name="username" class="form-control" data-ng-model="username" placeholder="Alias/Correo Electronico" required />
                            <p data-ng-show="userForm.username.$invalid && login.submitted" class="help-block"><b>* Alias/Correo Electronico.</b></p>
                            <p data-ng-show="userForm.username.$error.minlength" class="help-block"><b>* Minimo 3 Caracteres.</b></p>
                            <p data-ng-show="userForm.username.$error.maxlength" class="help-block"><b>* Maximo 20 Caracteres.</b></p>
                            <p class="help-block error-message"
                               data-ng-show="login.server.username"
                               ng-repeat="error in login.server.username"> {{error}} </p>
                        </div>
                        <div class="form-group col-md-6" ng-class="{ 'has-error' : (userForm.password.$invalid || login.server.password) && login.submitted}">
                            <label for="password">Contraseña </label>
                            <input type="password" name="password" class="form-control"  placeholder="Contraseña" ng-model="password" required />
                            <p ng-show="userForm.password.$invalid && login.submitted" class="help-block"><b>* Contraseña es Requerido.</b></p>
                            <p class="help-block error-message"
                               data-ng-show="login.server.password"
                               ng-repeat="error in login.server.password"><b>* {{error}} </b></p>
                        </div>
                        <div class="radio col-md-6">
                            <label>
                                <input type="checkbox" name="remember" data-ng-click="rememberMe()" data-ng-model="remember"> Recordar Datos
                            </label>
                        </div>
                        <div class="form-group col-md-6">
                            <button type="button" class="btn btn-success btn-block" data-ng-click="login.submitForm(userForm)">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container box-items">
    <div class="row">
        <div class="col-md-12 items">
            <div class="col-md-4">
                <a class="text-center" href="">
                    <img class="img-responsive center-block back-image" src="assets/images/btn-1.png" alt="">
                    <span class="overlay-button-text"><h3>El Club <br />Social</h3></span>
                </a>
            </div>
            <div class="col-md-4">
                <a class="text-center" href="">
                    <img class="img-responsive center-block back-image" src="assets/images/btn-2.png" alt="">
                    <div class="overlay-button-image">
                        <img src="assets/images/logo-sf.png" alt="" />
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="text-center" href="">
                    <img class="img-responsive center-block back-image" src="assets/images/btn-3.png" alt="">
                    <span class="overlay-button-text"><h3>Beneficios <br />del Club</h3></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="score-carousel" class="hidden-md hidden-lg scores-carousel">
    <!-- Carousel items -->
    <div class="scores-carousel-inner">
        <div class="item active">
            <div class="scores-body">
                <div class="row content-inner">
                    <div class="col-md-2 score-item">
                        <div class="scores-header">
                            <div class="row content-inner">
                                <div class="text-center">FECHA 1</div>
                            </div>
                        </div>
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/item-->
        <div class="item">
            <div class="scores-body">
                <div class="row content-inner">
                    <div class="col-md-2 score-item">
                        <div class="scores-header">
                            <div class="row content-inner">
                                <div class="text-center">FECHA 1</div>
                            </div>
                        </div>
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/carousel-inner-->
    <a class="left scores-carousel-control" href="#scores-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right scores-carousel-control" href="#scores-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div id="score-carousel" class="hidden-xs hidden-sm scores-carousel">
    <!-- Carousel items -->
    <div class="scores-carousel-inner">
        <div class="item active">
            <div class="scores-header">
                <div class="row content-inner-scores">
                    <div class="col-md-2 text-center">FECHA 1</div>
                    <div class="col-md-2 text-center">FECHA 2</div>
                    <div class="col-md-2 text-center">FECHA 3</div>
                    <div class="col-md-2 text-center">FECHA 4</div>
                    <div class="col-md-2 text-center">FECHA 5</div>
                    <div class="col-md-2 text-center">FECHA 6</div>
                </div>
            </div>
            <div class="scores-body">
                <div class="row content-inner-scores">
                    <div class="col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/item-->
        <div class="item">
            <div class="hidden-xs hidden-sm scores-header">
                <div class="row content-inner-scores">
                    <div class="col-md-2 text-center">FECHA 1</div>
                    <div class="col-md-2 text-center">FECHA 2</div>
                    <div class="col-md-2 text-center">FECHA 3</div>
                    <div class="col-md-2 text-center">FECHA 4</div>
                    <div class="col-md-2 text-center">FECHA 5</div>
                    <div class="col-md-2 text-center">FECHA 6</div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm scores-body">
                <div class="row content-inner-scores">
                    <div class="col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/item-->
    </div><!--/carousel-inner-->
    <a class="left scores-carousel-control" href="#scores-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right scores-carousel-control" href="#scores-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div><!--/scores-carousel-->
