<div class="navbar navbar-default navbar-fixed-top" role="navigation" data-my-navscroll data-ng-class="{min:boolChangeClass}">
    <div class="content-inner">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li class="navbar-brand" ng-class="{santos: boolChangeClass, prueba1: boolChangeClass}"><a href="#/home"><img src="assets/images/logo-santos.png" alt=""></a></li>
                    <li class="navbar-brand second-brand"><a class="brand-border-left" ng-class="{corona: boolChangeClass, prueba: boolChangeClass}" href="#/home"><img src="assets/images/logo-corona.png" alt=""></a></li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="row collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-header navbar-right" ng-class="{minNav:boolChangeClass}">
                    <li><a href="#/home">Inicio</a></li>
                    <li><a href="#">Beneficio del Club</a></li>
                    <li><a href="#">El Club Social</a></li>
                    <li class="social-buttons hidden-xs hidden-sm"><a href="#"><img src="assets/images/face-s.svg" alt="" /></a></li>
                    <li class="social-buttons hidden-xs hidden-sm"><a href="#"><img src="assets/images/google-s.svg" alt="" /></a></li>
                    <li class="social-buttons hidden-xs hidden-sm"><a href="#"><img src="assets/images/insta-s.svg" alt="" /></a></li>
                    <li class="social-buttons hidden-xs hidden-sm"><a href="#"><img src="assets/images/twitter-s.svg" alt="" /></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div>
</div>
<div class="row promo-image">
  <div class="overlay-promo">
    <div class="container">
      <h1 class="promo-home-title">Registrate, Juega y Gana</h1>
      <div class="row action-buttons">
        <div class="btn-group justified sign-buttons" role="group" aria-label="...">
          <a type="button" href="#/register" id="show-register" class="btn btn-success">Registro</a>
          <span class="btn diagonal-success"></span>
          <a type="button" href="#/login" id="show-login" class="btn btn-warning">Ingreso</a>
        </div>
        <div id="collapseTwo" class="register-form collapse" role="tabpanel" aria-labelledby="headingTwo">
          <form class="row register-form col-md-12" name="userForm" novalidate>
            <div class="col-md-2">
              <div class="profile-image text-center col-md-12">
                <img role="button" id="profile-image center-block" src="assets/images/profile-image.jpg" width="" alt="">
                <input class="hide" type="file" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="col-lg-12">
              <div class="form-group col-md-6" ng-class="{ 'has-error' : (userForm.firstname.$invalid || register.server.first_name) && register.submitted }">
                <label for="firstname" style="font-size: 14px">Nombre *</label>
                <input type="text" name="firstname" class="form-control" placeholder="Nombre" ng-model="register.user.firstname" ng-pattern="/^[a-zA-Z ]{1,25}$/" ng-minlength="3" ng-maxlength="15" required>
                <p ng-show="userForm.firstname.$invalid && register.submitted && register.submitted" class="message-alert"><b>* Requerido.</b></p>
                <p style="color:#a94442" ng-show="userForm.firstname.$error.minlength && register.submitted" class="message-alert"><b>* Minimo 3 Caracteres.</b></p>
                <p style="color:#a94442" ng-show="userForm.firstname.$error.maxlength && register.submitted" class="message-alert"><b>* Maximo 15 Caracteres.</b></p>
                <p ng-show="userForm.firstname.$error.pattern && register.submitted" class="help-block message-alert"><b>* Solo texto.</b></p>
                <p class="help-block message-alert"
                   data-ng-show="register.server.first_name && register.submitted"
                   ng-repeat="error in register.server.first_name"><b> {{error}} </b></p>
              </div>
              <div class="form-group col-md-6" ng-class="{ 'has-error' : (userForm.password.$invalid || register.server.last_name) && register.submitted }">
                <label for="lastname" style="font-size: 14px">Apellido *</label>
                <input type="text" name="lastname" class="form-control" ng-model="register.user.lastname" ng-pattern="/^[a-zA-Z ]{1,25}$/" ng-minlength="3" ng-maxlength="15" placeholder="Apellido" required>
                <p ng-show="userForm.lastname.$invalid && register.submitted" class="message-alert"><b>* Requerido.</b></p>
                <p style="color:#a94442" ng-show="userForm.lastname.$error.minlength && register.submitted" class="message-alert"><b>* Minimo 3 Caracteres.</b></p>
                <p style="color:#a94442" ng-show="userForm.lastname.$error.maxlength && register.submitted" class="message-alert"><b>* Maximo 15 Caracteres.</b></p>
                <p ng-show="userForm.lastname.$error.pattern && register.submitted" class="help-block message-alert"><b>* Solo texto.</b></p>
                <p class="help-block message-alert"
                   data-ng-show="register.server.last_name && register.submitted"
                   ng-repeat="error in register.server.last_name"><b>{{error}} </b></p>
              </div>
              </div>
                <div class="col-lg-12">
                <div class="form-group col-md-6" ng-class="{ 'has-error' : (userForm.phone_cel.$invalid || register.server.telephone ) && register.submitted }">
                <label for="phone_cel" style="font-size: 14px">Teléfono Celular *</label>
                <input type="text" name="phone_cel" class="form-control" ng-model="register.user.phone_cel" mask="(999) 999-9999" placeholder="Teléfono Celular" required>
                <p ng-show="userForm.phone_cel.$invalid && register.submitted" class="message-alert"><b>* Requerido.</b></p>
                <p class="help-block message-alert"
                   data-ng-show="register.server.telephone && register.submitted"
                   ng-repeat="error in register.server.telephone"> {{error}} </p>
              </div>
              <div class="form-group col-md-6" ng-class="{ 'has-error' : (userForm.email.$invalid || register.server.email) && register.submitted}">
                <label for="email" style="font-size: 14px">Correo Electrónico *</label>
                <input type="email" name="email" class="form-control" ng-model="register.user.email" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i" placeholder="Correo Electrónico" required>
                <p ng-show="userForm.email.$invalid && register.submitted" class="message-alert"><b>* Requerido.</b></p>
                <p class="help-block message-alert"
                   data-ng-show="register.server.email && register.submitted"
                   ng-repeat="error in register.server.email"><b> {{error}} </b></p>
              </div>
                    </div>
                <div class="col-lg-12">
              <div class="form-group col-md-6" ng-class="{ 'has-error' : (userForm.alias.$invalid || register.server.username) && register.submitted}">
                <label for="alias" style="font-size: 14px">Alias *</label>
                <input type="text" name="alias" class="form-control" placeholder="Alias" data-ng-pattern="/^[a-zA-Z]\w{3,14}$/" ng-maxlength="10" ng-model="register.user.alias" required>
                <p ng-show="!userForm.alias.$invalid && register.submitted" class="message-alert"><b>* Requerido.</b></p>
                <p style="" ng-show="userForm.alias.$error.maxlength && register.submitted" class="message-alert"><b>* Maximo 10 Caracteres.</b></p>
                <p class="help-block message-alert"
                   data-ng-show="register.server.username && register.submitted"
                   ng-repeat="error in register.server.username"><b> {{error}} </b></p>
                <p class="help-block message-alert" ng-show="userForm.alias.$error.pattern && register.submitted" ><b>* Solo Caracteres ó Numeros.</b></p>
              </div>
              <div class="form-group col-md-6" ng-class="{ 'has-error' : (userForm.birthday.$invalid || register.server.birhtdate)  && register.submitted  }">
                <label for="birthday" style="font-size: 14px">Fecha de Nacimiento *</label>
                <input type="text" name="birthday" class="form-control" ng-model="register.user.birthday" mask='99-99-9999' placeholder="Ej: 31-12-1981" required>
                <p ng-show="userForm.birthday.$invalid && register.submitted" class="message-alert"><b>* Requerido.</b></p>
                <p class="help-block message-alert"
                   data-ng-show="register.server.birhtdate && register.submitted"
                   ng-repeat="error in register.server.birthdate"><b> {{error}} </b></p>
              </div>
                    </div>
                <div class="col-lg-12">
              <div class="form-group col-md-6" ng-class="{ 'has-error' : (userForm.password.$invalid || register.server.password) && register.submitted }">
                <label for="password" style="font-size: 14px">Contraseña *</label>
                <input type="password" name="password" class="form-control" placeholder="Contraseña" autocomplete="off" ng-model="register.user.password" required>
                <p ng-show="userForm.password.$invalid && register.submitted" class="message-alert"><b>* Requerida.</b></p>
                <p class="help-block message-alert"
                   data-ng-show="register.server.password && register.submitted"
                   ng-repeat="error in register.server.password"><b> {{error}} </b></p>
              </div>
              <div class="form-group col-md-6" ng-class="{ 'has-error' : (userForm.confirm_password.$invalid || userForm.confirm_password.$error.passwordVerify) && register.submitted}">
                <label for="confirm password" style="font-size: 14px">Confirmar Contraseña *</label>
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirmar Contraseña" autocomplete="off" ng-model="register.user.confirm_password" data-password-verify="register.user.password" required>
                <p ng-show="userForm.confirm_password.$invalid && register.submitted" class="message-alert"><b>* Requerida.</b></p>
                <p style="color:#a94442" ng-show="userForm.confirm_password.$error.passwordVerify" class="message-alert"><b>* Campos no coinciden.</b></p>
              </div>
                    </div>
              <div class="radio col-md-12">
                <label>
                  <input type="checkbox" name="accept"> Acepto los Terminos y Condiciones
                </label>
              </div>
              <div class="form-group col-md-12 text-center">
                  <span>Datos Obligatorios (*)</span>
                <button type="button" class="btn btn-warning btn-block" data-ng-click="register.submitForm(userForm)">Registrar</button>
              </div>
            </div>
            <div class="col-md-2 social-login text-center">
              <p>Registrese Usando sus cuentas de Redes Sociales</p>
              <a href="#"><img src="assets/images/face-s.svg" alt="" /></a>
              <a href="#"><img src="assets/images/google-s.svg" alt="" /></a>
              <a href="#"><img src="assets/images/insta-s.svg" alt="" /></a>
              <a href="#"><img src="assets/images/twitter-s.svg" alt="" /></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container box-items">
    <div class="row">
        <div class="col-md-12 items">
            <div class="col-md-4">
                <a class="text-center" href="">
                    <img class="img-responsive center-block back-image" src="assets/images/btn-1.png" alt="">
                    <span class="overlay-button-text"><h3>El Club <br />Social</h3></span>
                </a>
            </div>
            <div class="col-md-4">
                <a class="text-center" href="">
                    <img class="img-responsive center-block back-image" src="assets/images/btn-2.png" alt="">
                    <div class="overlay-button-image">
                        <img src="assets/images/logo-sf.png" alt="" />
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="text-center" href="">
                    <img class="img-responsive center-block back-image" src="assets/images/btn-3.png" alt="">
                    <span class="overlay-button-text"><h3>Beneficios <br />del Club</h3></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="score-carousel" class="hidden-md hidden-lg scores-carousel slide">
    <!-- Carousel items -->
    <div class="scores-carousel-inner">
        <div class="item active">
            <div class="scores-body">
                <div class="row content-inner">
                    <div class="col-md-2 score-item">
                        <div class="scores-header">
                            <div class="row content-inner">
                                <div class="text-center">FECHA 1</div>
                            </div>
                        </div>
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/item-->
        <div class="item">
            <div class="scores-body">
                <div class="row content-inner">
                    <div class="col-md-2 score-item">
                        <div class="scores-header">
                            <div class="row content-inner">
                                <div class="text-center">FECHA 1</div>
                            </div>
                        </div>
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/carousel-inner-->
    <a class="left scores-carousel-control" href="#scores-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right scores-carousel-control" href="#scores-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div id="score-carousel" class="hidden-xs hidden-sm scores-carousel slide">
    <!-- Carousel items -->
    <div class="scores-carousel-inner">
        <div class="item active">
            <div class="scores-header">
                <div class="row content-inner-scores">
                    <div class="col-md-2 text-center">FECHA 1</div>
                    <div class="col-md-2 text-center">FECHA 2</div>
                    <div class="col-md-2 text-center">FECHA 3</div>
                    <div class="col-md-2 text-center">FECHA 4</div>
                    <div class="col-md-2 text-center">FECHA 5</div>
                    <div class="col-md-2 text-center">FECHA 6</div>
                </div>
            </div>
            <div class="scores-body">
                <div class="row content-inner-scores">
                    <div class="col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/item-->
        <div class="item">
            <div class="hidden-xs hidden-sm scores-header">
                <div class="row content-inner-scores">
                    <div class="col-md-2 text-center">FECHA 1</div>
                    <div class="col-md-2 text-center">FECHA 2</div>
                    <div class="col-md-2 text-center">FECHA 3</div>
                    <div class="col-md-2 text-center">FECHA 4</div>
                    <div class="col-md-2 text-center">FECHA 5</div>
                    <div class="col-md-2 text-center">FECHA 6</div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm scores-body">
                <div class="row content-inner-scores">
                    <div class="col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2 score-item">
                        <div class="scores-body-top">
                            <div class="score-box">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/logo-santos.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">CS</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="scores-body-bottom">
                            <div class="score-box bottom">
                                <div class="score-box-item-1 team-logo">
                                    <img src="assets/images/team-2.png" width="" alt="">
                                </div>
                                <div class="score-box-item-2 text-center">XL</div>
                                <div class="score-box-item-3 score text-center">
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/item-->
    </div><!--/carousel-inner-->
    <a class="left scores-carousel-control" href="#scores-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right scores-carousel-control" href="#scores-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div><!--/scores-carousel-->
